{% extends 'base.html.twig' %}

{% block title %}EmployeeList{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="collapsible">
        <div class="collapsible-header" onclick="newEmployee()">
            {{ 'html.add'|trans }}
            <a class="secondary-content">
                <i id="button-add" class="material-icons">add_circle_outline</i>
            </a>
            <div id="new_loader" class="preloader-wrapper small active" style="display: none">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="new_vacations" class="collapsible-body">
            <form id="new_form">
                <div class="input-field">
                    <input id="new_name" type="text" class="validate" name="new_name">
                    <label for="new_name">{{ 'html.fullname'|trans }}</label>
                    <span class="helper-text red-text"></span>
                </div>

                {% for i in 0..2 %}
                    <div class="row">
                        <input class="col s4" id="new_{{ loop.index }}_start" name="new{{ loop.index }}_start" type="date" placeholder="Start">
                        <div class="col s4"></div>
                        <input class="col s4" id="new_{{ loop.index }}_end" name="new{{ loop.index }}_end" type="date" placeholder="End">
                    </div>
                {% endfor %}

                <div class="center-align">
                    <button class="btn waves-effect waves-light" type="button" onclick="saveNewEmployee()">Save
                        <i class="material-icons right">save</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% if employees|length %}
        <div><h4>{{ 'html.list'|trans }}</h4></div>

        <div class="center-align">
            <div class="navigation">
                {{ knp_pagination_render(employees) }}
            </div>
        </div>

        <ul class="collapsible">
            {% for employee in employees %}
                <li>
                    <div class="collapsible-header" onclick="showVacations({{ employee.id }})">
                        {{ employee.fullName }}
                        <a class="secondary-content">
                            <i id="{{ employee.id }}_button-show" class="material-icons">arrow_drop_up</i>
                        </a>
                        <div id="{{ employee.id }}_loader" class="preloader-wrapper small active" style="display: none">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="{{ employee.id }}_vacations" class="collapsible-body">
                        <form id="{{ employee.id }}_form">
                            {% set employeeVacations = vacations[employee.id] %}
                            {% set vacationsCount = employeeVacations|length %}

                            {% if vacationsCount %}
                                {% for vacation in employeeVacations %}
                                    {% set lastIndex = loop.index %}
                                    <div class="row">
                                        <input class="col s4" id="{{ employee.id }}_{{ loop.index - 1 }}_start" name="{{ vacation.id }}_start" type="date" value="{{ vacation.startDate|date('Y-m-d') }}" placeholder="Start">
                                        <div class="col s4 center-align">
                                            <button class="btn waves-effect red accent-1" id="{{ employee.id }}_{{ loop.index - 1 }}_del" type="button" onclick="clearVacation({{ employee.id }}, {{ loop.index - 1 }})">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </div>
                                        <input class="col s4" id="{{ employee.id }}_{{ loop.index - 1 }}_end" name="{{ vacation.id }}_end" type="date" value="{{ vacation.endDate|date('Y-m-d') }}" placeholder="End">
                                    </div>
                                {% endfor %}
                            {% endif %}


                            {% if vacationsCount < 3 %}
                                {% for i in vacationsCount..2 %}
                                    <div class="row">
                                        <input class="col s4" id="{{ employee.id }}_{{ i }}_start" name="new{{ i }}_start" type="date" placeholder="Start">
                                        <div class="col s4"></div>
                                        <input class="col s4" id="{{ employee.id }}_{{ i }}_end" name="new{{ i }}_end" type="date" placeholder="End">
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="center-align">
                                <button class="btn waves-effect waves-light" type="button" onclick="saveVacations({{ employee.id }})" name="save_{{ employee.id }}">Save
                                    <i class="material-icons right">save</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </li>

            {% endfor %}
        </ul>

        <div class="center-align">
            <div class="navigation">
                {{ knp_pagination_render(employees) }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function showVacations(id) {
            let vacations = document.getElementById(id + '_vacations')
            let button = document.getElementById(id + '_button-show')

            if (vacations.style.display === 'block') {
                vacations.style.display = 'none'
                button.textContent = 'arrow_drop_up'
            } else {
                vacations.style.display = 'block'
                button.textContent = 'arrow_drop_down'
            }
        }

        function clearVacation(employee, number) {
            $('#' + employee + '_' + number + '_start').val('')
            $('#' + employee + '_' + number + '_end').val('')
            $('#' + employee + '_' + number + '_del').css('display', 'none')

        }

        function saveVacations(employee) {
            let inputData = $('#' + employee + '_form')
            let inputArr = inputData.serializeArray()
            $('#' + employee + '_loader').css('display', 'block');

            let id1 = inputArr[0].name.split('_')[0];
            let id2 = inputArr[2].name.split('_')[0];
            let id3 = inputArr[4].name.split('_')[0];

            let vacations = [
                {
                    employee: employee,
                },
                {
                    id: id1,
                    start: inputArr[0].value,
                    end: inputArr[1].value,
                },
                {
                    id: id2,
                    start: inputArr[2].value,
                    end: inputArr[3].value,
                },
                {
                    id: id3,
                    start: inputArr[4].value,
                    end: inputArr[5].value,
                }
            ]

            $.post("/save", JSON.stringify(vacations), (data, status) => {
                for (let i = 0; i < 3; i++) {
                    let start = $('#' + employee + '_' + i + '_start')[0]

                    if (start.name.includes('new') && typeof data[i] != 'undefined' ) {
                        $('#' + employee + '_' + i + '_start').attr('name', data[i] + '_start')
                        $('#' + employee + '_' + i + '_end').attr('name', data[i] + '_end')
                    }
                }
                $('.preloader-wrapper').css('display', 'none')
            });
        }

        function newEmployee() {
            let vacations = document.getElementById('new_vacations')
            let button = document.getElementById('button-add')

            if (vacations.style.display === 'block') {
                vacations.style.display = 'none'
                button.textContent = 'add_circle_outline'
            } else {
                vacations.style.display = 'block'
                button.textContent = 'arrow_drop_down'
            }
        }

        function saveNewEmployee() {
            $('#new_loader').css('display', 'block');

            let helper = $('.helper-text')
            helper.html('')

            let inputData = $('#new_form')
            let inputArr = inputData.serializeArray()

            if (inputArr[0].value === '') {
                $('.preloader-wrapper').css('display', 'none')
                helper.html('{{ 'html.name_empty'|trans }}')

                return;
            }

            let id1 = inputArr[1].name.split('_')[0];
            let id2 = inputArr[3].name.split('_')[0];
            let id3 = inputArr[5].name.split('_')[0];

            let vacations = [
                {
                    employee: inputArr[0].value,
                },
                {
                    id: id1,
                    start: inputArr[1].value,
                    end: inputArr[2].value,
                },
                {
                    id: id2,
                    start: inputArr[3].value,
                    end: inputArr[4].value,
                },
                {
                    id: id3,
                    start: inputArr[5].value,
                    end: inputArr[6].value,
                }
            ]

            inputData[0].reset()

            $.post("/new", JSON.stringify(vacations), () => {
                M.toast({html: '{{ 'html.added'|trans }}'})
                $('.preloader-wrapper').css('display', 'none')
            });
        }

    </script>
{% endblock %}
